{% extends 'home/home.html' %}
{% import "UI/admin_page.html" as pg %}
{% block content %}
    <div class="container" style="margin-top:76px">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="margin-top:6px;">
                <li>与"{{ key }}"有关的电影，共{{ nums }}部</li>
            </ol>
        </div>
        <div class="col-md-12">
            {% for movie in page_data.items %}
            <div class="media">
                <div class="media-left">
                    <a href="play.html">
                        <img src="{{ url_for("static", filename="uploads/"+movie.logo) }}" class="media-object" style="width:131px;height:83px;" alt="环太平洋">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ movie.title }}<a href="{{ url_for("home.play", id=movie.id, page=1) }}" class="label label-primary pull-right"><span class="glyphicon glyphicon-play"></span>播放影片</a></h4>
                    {{ movie.info }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-12 text-center">
            <nav aria-label="Page navigation">
                {{ pg.page(page_data,'home.login_log') }}
            </nav>
        </div>
    </div>
</div>
{% endblock %}